.whataboutism {
    width: 89.33%;
    display: flex;
    flex-direction: column;
    margin: 27px auto 27px auto;
    align-self: center;
    gap: 19px;
    font-family: Montserrat;
}
.bannerPhoto {
    width: 100%;
    height: 111px;
    mix-blend-mode: darken;
    border-radius: 10px;
    border: 1px solid #000;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), /* this darkens the image */
        url('../assets/LogosAndImages/image_about.png') center/cover no-repeat;    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.kasaValues {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.containerBox {
    width: 100%;
    height: 30px;
}

@media (min-width: 767px) {
    .whataboutism {
        width: 100%;
        max-width: 1440px;
        gap: 30px;
    }
    .bannerPhoto {
        width: 86%;
        height: 233px;
        margin: 0 7% 0 7%;
    }
    .kasaValues {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 71%;
        margin: 0px 208.5px 0px 208.5px;
    }
    .containerBox {
        width: 82.5%;
        height: 54px;
    }
}