.whataboutism {
    width: 89.33%;
    display: flex;
    flex-direction: column;
    margin: 27px auto 27px auto;
    align-self: center;
    gap: 19px;
}
.kasaValues {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.containerBox {
    width: 100%;
    height: 30px;
}

@media (min-width: 767px) {
    .whataboutism {
        width: 86.11%;
        max-width: 1240px;
        gap: 30px;
        margin: 50px auto;
    }
    .bannerPhoto {
        width: 86%;
        height: 233px;
        margin: 0 7% 0 7%;
    }
    .kasaValues {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 71%;
        margin: 0px 208.5px 0px 208.5px;
    }
    .containerBox {
        width: 82.5%;
        height: 54px;
    }
}