.lodgingView {
    display: flex;
    flex-direction: column;
    margin: 27px 20px 27px 20px;
    width: 89.33%;
    align-self: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    gap: 20px; 
}
.titling {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
}
.lodgingTitle {
    color: #FF6060;
    font-size: 18px;    
}
.lodgingLocation {
    color: #000;
    font-size: 14px;
}
.pinkboxing {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 10px;
}
.pinkyBoxy {
    width: 84px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #FF6060;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
}
.flatData {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.starlettes {
    display: flex;
    flex-direction: row;
    width: 98px;
    height: 18px;
    flex-shrink: 0;
    align-self: flex-start;
}
.zoneHost {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10,5px;
}
.cityLocation {
    width: 93px;
    height: 33px;
    color: #FF6060;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
}
.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 767px) {
    
}
