.arrow {
    width: 90%;
    height: 90%;
    margin-top: 5px;
}
.extendable {
    width: 92.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.pinky {
    position: relative;
    width: 105%;
    height: 30px;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    background-color: #FF6060;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}
.pinky h2 {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    line-height: 142.6%;
    position:relative;
    top: -6px;
}
.pinky button {
    position: absolute;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;   
    z-index: 21000;
    right: 0%;
    color: #FFF;
    background-color: transparent;
    padding-bottom: 8.5px;
}
.canvas {
    width: 100%;
    max-height: 0;
    overflow: hidden;
}
.canvastext {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 142.6%; 
    padding: 10px;
    /*opacity: 0;*/
}
.extendable {
    height: auto;
}
.canvastext.displayAnim li {
    list-style: none;
}

/**************************************** ANIMATIONS ****************************************/
    /*** BOX OPENS, TEXT APPEARS ***/
/*** ROTATING ARROWS ***/
.arrow.displayAnim {
    animation: counter-clockwise 0.5s ease-in-out forwards;        
}
    @keyframes counter-clockwise {
        from { transform: rotate(0deg); }
        to { transform: rotate(-180deg); }        
    }
.arrow.hideAnim {
    animation: clockwise 0.5s ease-in-out forwards;        
}
    @keyframes clockwise {
        from { transform: rotate(-180deg); } 
        to { transform: rotate(0deg); }
    }
/*** CANVAS OPENS TO SHOW THE TEXT ***/
.canvas.displayAnim {
    animation: openCanvas 1.2s ease forwards;    
}    
    @keyframes openCanvas {
        from {
            max-height: 0;
            opacity: 0;
        } to {
            max-height: 600px;
            opacity: 1;            
        }
    }
.canvas.hideAnim  {
    animation: closeCanvas 0.25s ease forwards;
}
    @keyframes closeCanvas {
        from {
            max-height: 750px;
            opacity: 1;
        } to {
            opacity: 0;
            height: 0;
        }
    }

.canvastext.displayAnim{
    animation: textDown 1.2s ease forwards;
}    
    @keyframes textDown {
        from { opacity: 0; transform: translateY(-60%); }
        to { opacity: 1; transform: translateY(5%); }
    }

.canvastext.hideAnim  {
    animation: textUp 0.25s ease forwards;
}
    @keyframes textUp {
        from { opacity: 1; transform: translateY(5%);}
        to { opacity: 0; transform: translateY(-15%); }
    }

/**************************************** MEDIA QUERIES ****************************************/

@media (min-width: 767px) {
    .pinky {
        width: 100%;
        height: 54px;
        padding: 0px 5px 0px 15px;
    }
    .pinky h2 {
        font-size: 24px;
    }
    .pinky button {
        width: 50px;
        height: 50px;
        padding-bottom: 17.5px;
    }
    .canvastext  {
        font-size: 18px;
        padding: 20px 20px 20px 20px;
    }
}
