.arrow {
    width: 90%;
    height: 90%;
    margin-top: 5px;
    display: block;  
}
.extendable {
    width: 92.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.pinky {
    position: relative;
    width: 105%;
    height: 30px;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    background-color: #FF6060;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}
.pinky h2 {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    line-height: 142.6%;
    position:relative;
    top: -6px;
}
.pinky button {
    position: absolute;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;   
    z-index: 21000;
    right: 0%;
    color: #FFF;
    background-color: transparent;
    padding-bottom: 8.5px;
}
.canvas {
    width: 100%;
    height: auto;
    display: none;    
}
.canvastext {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 142.6%; 
    padding: 15px 15px 15px 15px;
}
.extendable {
    height: auto;
}
.canvastext.displayAnim li {
    list-style: none;
}

/**************************************** ANIMATIONS ****************************************/
    /*** BOX OPENS, TEXT APPEARS ***/
/*** ROTATING ARROWS ***/
    .arrow.displayAnim {
    animation: counter-clockwise 0.5s ease-in-out forwards;        
}
    @keyframes counter-clockwise {
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(-180deg);             
        }        
    }
.arrow.hideAnim {
    animation: clockwise 0.5s ease-in-out forwards;        
}
    @keyframes clockwise {
        from { 
            transform: rotate(-180deg); 
        } to { 
            transform: rotate(0deg); }
    }
/*** CANVAS OPENS TO SHOW THE TEXT ***/
.canvas.displayAnim {
    display: block;
    animation: opening 1s ease-in-out forwards;
}    
    @keyframes opening {
        from {
            opacity:0;
            transform: translateY(0px);
        } to {
            opacity: 1;
            transform: translateY(100%);
        }
    }
.canvas.hideAnim  {
    animation: shutting 1s ease-in-out forwards;
    animation-delay: 5s;
    display: none;
}
    @keyframes shutting {
        0% {
            transform: translateY(-95%);
        }
        25% {
            transform: translateY(-96.5%);
        }
        50% {
            transform: translateY(-98%);
        }
        75% {            
            transform: translateY(-100%);
        }
        100% {
            opacity:0;
        }
    }

.canvastext.displayAnim{
    display: block;
    animation: tumble 0.25s ease-in forwards;
}    
    @keyframes tumble {
        from {
            opacity: 0;
            transform: translateY(0%);
        } to {
            opacity: 1;
            transform: translateY(-105%);
        }
    }

.canvastext.hideAnim  {
    animation: mount 2s ease-in forwards;
    
    display: none;
}
    @keyframes mount {
        0% {
            transform: translateY(-95%);
        } 100% {
            transform: translateY(-100%);
            opacity: 0;}
    }

/**************************************** MEDIA QUERIES ****************************************/

@media (min-width: 767px) {
    .pinky {
        width: 100%;
        height: 54px;
        padding: 0px 5px 0px 15px;
    }
    .pinky h2 {
        font-size: 24px;
    }
    .pinky button {
        width: 50px;
        height: 50px;
        padding-bottom: 17.5px;
    }
    .canvastext  {
        font-size: 18px;
        padding: 20px 20px 20px 20px;
    }
}
