.footerEnvironment {
    height: 209px;
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.logoBlack {
    width: 122px;
    height: 39.44px;
    align-self: center;
    margin-top: 66px;    
}
.copyright{
    font-weight: 500;
    font-size: 12px;
    line-height: 143%;
    letter-spacing: 0;
    width: 133.59px;
    height: 46px;
    text-align: center;
    align-self: center;
    vertical-align: text-bottom;    
}
@media (min-width: 767px) {
    .copyright {
        width: 513px;
        font-size: 24px;
    }
}
