.navBarEnvironment {
    width: 89.33%;
    height: 46.88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
.logoS {
    display: block;
    width: 145px;
}
.logoL {
    display: none;
}
.pageIndex {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 26px;
    justify-content: flex-end;
    vertical-align: middle;
    font-weight: 500;
    font-size: 12px;
    padding: 15.94px 0; 
}
.homelink {
    width: 55px;    
}
.aboutLink {
    width: 66px;
}
.navlinks {
    text-decoration: none;
    height: 17px;
    color: #000;
}
.navlinks:hover, .navlinks:active {
    text-decoration: underline;
    color: #000;
}
.activePage {
    text-decoration: underline;
    color: #000;
}


@media (min-width: 767px) {
    .navBarEnvironment {
        width: 86%;
        height: 68px;
        max-width: 1240px;
        margin: 50px 6.94%;
    }
    .logoS {
        display: none;
    }
    .logoL {
        display: block;
        width: 210.32px;
        height: 100%;
    }
    .pageIndex {
        text-transform: capitalize;
        padding: 17px 0;
        font-size: 24px; 
        gap: 57px;
    }
    .homelink {
        width: 136px;    
    }
    .aboutLink {
        width: 116px;
    }
    .navlinks {
        text-decoration: none;
        height: 34px;
        color: #000;
    }
}