.arrow {
    width: 90%;
    height: 90%;
    margin-top: 5px;
    display: block;  
}
.extendable {
    width: 92.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.pinky {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    background-color: #FF6060;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}
.pinkTitle {
    font-family: Montserrat;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    position:relative;
    top: -25%;
}
.buttonArrow {
    width: 32px;
    height: 32px;
    align-content: middle;
    vertical-align: middle;
    margin-top: -5px;
}
.canvas {
    width: 100%;
    height: auto;
    display: none;    
}
.canvastext {
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%; 
    padding: 15px 15px 15px 15px;
}
.extendable {
    height: auto;
}
.canvastext.displayAnim li {
    list-style: none;
}


/**************************************** ANIMATIONS ****************************************/
    /*** BOX OPENS, TEXT APPEARS ***/
.arrow.displayAnim {
    animation: counter-clockwise 0.5s ease-in-out 0s forwards;        
}
    @keyframes counter-clockwise {
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(-180deg);             
        }        
    }
.canvas.displayAnim {
    display: block;
    animation: opening 1s ease-in-out 1.5s forwards;
}    
    @keyframes opening {
        from {
            display: none;
            transform: translateY(0px);
        } to {
            display: block;
            transform: translateY(auto);
        }
    }
.canvastext.displayAnim{
    display: block;
    animation: tumble 1s ease-in 5s forwards;
}    
    @keyframes tumble {
        from {
            opacity: 0;
            transform: translateY(0%);
        } to {
            opacity: 1;
            transform: translateY(100%);
        }
    }

.arrow.hideAnim {
    animation: clockwise 0.5s ease-in-out forwards;        
}
    @keyframes clockwise {
        from { 
            transform: rotate(-180deg); 
        } to { 
            transform: rotate(0deg); }
    }
.canvas.hideAnim  {
    animation: shutting 1s ease-in-out 1.5s forwards;
    display: none;
}
    @keyframes shutting {
        from {
            display: block;
            transform: translateY(auto);
            opacity: 1;
        } to {
            display: none;
            transform: translateY(0px);
            opacity: 0;           
        }
    }
.canvastext.hideAnim  {
    animation: mount 1s ease-in 0s forwards;
    display: none;
}
    @keyframes mount {
        from {
            opacity: 1;
            transform: translateY(100%);
        } to {
            opacity: 0;
            transform: translateY(0%);
        }
    }

/**************************************** MEDIA QUERIES ****************************************/

@media (min-width: 767px) {
    .pinky {
        height: 54px;
    }
    .pinkTitle {
        font-size: 24px;
    }
    .canvastext  {
        font-size: 18px;
        padding: 20px 20px 20px 20px;
    }
    .buttonArrow {
        width: 32px;
        height: 32px;
        align-content: middle;
        vertical-align: middle;
        margin-top: 5px;
        padding-right: 20px;
    }
}
