.arrow {
    width: 90%;
    height: 90%;
    margin-top: 5px;
    display: block;  
}
.extendable {
    width: 92.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.pinky {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    background-color: #FF6060;
}
.arrowy {
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
    width: 100%;
    height: 100%;
    margin-top: -5px;
}
.arrowy h2 {
    font-family: Montserrat;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
}
.arrowMe {
    width: 32px;
    height: 32px;
}
.canvas {
    width: 100%;
    height: auto;
    display: none;    
}
/*.canvas:closed {
    height: 0;
    display:none;
}*/
.canvastext {
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%; /* 25.668px */
    padding: 15px 15px 15px 15px;
    /*display: none;*/
}
.extendable {
    height: auto;
}

/**************************************** ANIMATIONS ****************************************/
    /*** BOX OPENS, TEXT APPEARS ***/
.arrow.displayAnim {
    animation: counter-clockwise 0.5s ease-in-out 0s forwards;        
}
    @keyframes counter-clockwise {
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(-180deg);             
        }        
    }
.canvas.displayAnim {
    display: block;
    animation: opening 1s ease-in-out 1.5s forwards;
}    
    @keyframes opening {
        from {
            display: none;
            transform: translateY(0px);
        } to {
            display: block;
            transform: translateY(auto);
        }
    }
.canvastext.displayAnim{
    display: block;
    animation: tumble 1s ease-in 5s forwards;
}    
    @keyframes tumble {
        from {
            /*display: none;*/
            opacity: 0;
            transform: translateY(0%);
        } to {
            /*display: block;*/
            opacity: 1;
            transform: translateY(100%);
        }
    }

.arrow.hideAnim {
    animation: clockwise 0.5s ease-in-out forwards;        
}
    @keyframes clockwise {
        from { 
            transform: rotate(-180deg); 
        } to { 
            transform: rotate(0deg); }
    }
.canvas.hideAnim  {
    animation: shutting 1s ease-in-out 1.5s forwards;
    display: none;
}
    @keyframes shutting {
        from {
            display: block;
            transform: translateY(auto);
            opacity: 1;
        } to {
            display: none;
            transform: translateY(0px);
            opacity: 0;           
        }
    }
.canvastext.hideAnim  {
    animation: mount 1s ease-in 0s forwards;
    display: none;
}
    @keyframes mount {
        from {
            /*display: block;*/
            opacity: 1;
            transform: translateY(100%);
        } to {
            /*display: none;*/
            opacity: 0;
            transform: translateY(0%);
        }
    }



/*.openCanvas {
    animation: opening ease-in-out forwards;
}

.shutCanvas {
    animation: shutting ease-in-out forwards;
}

.dropDown {
    animation: tumble ease-in-out forwards;
}

.climbUp {
    animation: mount ease-in-out forwards;
}*/

/**************************************** MEDIA QUERIES ****************************************/

@media (min-width: 767px) {
    .pinky {
        height: 54px;
    }
    .arrowy {
        margin-top: 7.5px;
    }
    .arrowy h2 {
        font-size: 24px;
        margin-top: -1.5px;
    }
    /*.canvas {
        
    }*/
    .canvastext  {
        font-size: 18px;
        padding: 20px 20px 20px 20px;
    }
}

/* cubic-bezier(1, 0.25, 0.8, 0.25) */